In [2]:
# import libraries
import trino
import pandas as pd
import numpy as np
import requests
import json
import pandas as pd
from sklearn.linear_model import Ridge
from sklearn.preprocessing import PolynomialFeatures
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_absolute_error,mean_squared_error
import seaborn as sns
from datetime import date
from datetime import timedelta
from sklearn.tree import DecisionTreeRegressor
import pickle

In [ ]:
########################### Get the time parameters ##########################

today = date.today()
yesterday = today - timedelta(days = 1)
tomorrow = today + timedelta(days = 1)
city = "TIS"
########################### Get the city parameters ###########################

# Get the city urls
if city == "TIS":
    url_historical_tis = "https://archive-api.open-meteo.com/v1/archive?latitude=36.7498325&longitude=10.2676506&start_date=2022-11-01&end_date="+str(yesterday)+"&hourly=temperature_2m,relativehumidity_2m,apparent_temperature,precipitation,rain,cloudcover,windspeed_100m,winddirection_100m,is_day&daily=sunrise,sunset,precipitation_sum,rain_sum&timezone=Europe%2FLondon"
    url_pred_tis = "https://api.open-meteo.com/v1/forecast?latitude=36.7498325&longitude=10.2676506&hourly=precipitation_probability,temperature_2m,relativehumidity_2m,apparent_temperature,precipitation,rain,cloudcover,windspeed_80m,winddirection_80m,is_day&daily=sunrise,sunset,precipitation_sum,rain_sum&timezone=Europe%2FLondon&start_date="+str(today)+"&end_date="+str(tomorrow)
elif city == "SOU":
    url_historical_sou = "https://archive-api.open-meteo.com/v1/archive?latitude=35.8059273&longitude=10.6488785&start_date=2022-11-01&end_date="+str(yesterday)+"&hourly=temperature_2m,relativehumidity_2m,apparent_temperature,precipitation,rain,cloudcover,windspeed_100m,winddirection_100m,is_day&daily=sunrise,sunset,precipitation_sum,rain_sum&timezone=Europe%2FLondon"
    url_pred_sou = "https://api.open-meteo.com/v1/forecast?latitude=35.8059273&longitude=10.6488785&hourly=precipitation_probability,temperature_2m,relativehumidity_2m,apparent_temperature,precipitation,rain,cloudcover,windspeed_80m,winddirection_80m,is_day&daily=sunrise,sunset,precipitation_sum,rain_sum&timezone=Europe%2FLondon&start_date="+str(today)+"&end_date="+str(tomorrow)
elif city == "SFX":
    url_historical_sfx = "https://archive-api.open-meteo.com/v1/archive?latitude=35.0177587&longitude=10.5943665&start_date=2022-11-01&end_date="+str(yesterday)+"&hourly=temperature_2m,relativehumidity_2m,apparent_temperature,precipitation,rain,cloudcover,windspeed_100m,winddirection_100m,is_day&daily=sunrise,sunset,precipitation_sum,rain_sum&timezone=Europe%2FLondon"
    url_pred_sfx = "https://api.open-meteo.com/v1/forecast?latitude=35.0177587&longitude=10.5943665&hourly=precipitation_probability,temperature_2m,relativehumidity_2m,apparent_temperature,precipitation,rain,cloudcover,windspeed_80m,winddirection_80m,is_day&daily=sunrise,sunset,precipitation_sum,rain_sum&timezone=Europe%2FLondon&start_date="+str(today)+"&end_date="+str(tomorrow)

# Get the city model
if city == "TIS":
    model_pkl_file = "model_tis.pkl"
elif city == "SOU":
    model_pkl_file = "model_sou.pkl"
elif city == "SFX":
    model_pkl_file = "model_sfx.pkl"

########################### set up the connection ###########################

# you need not change these
HOST = 'starburst.g8s-data-platform-prod.glovoint.com'
PORT = 443

# prepare your query, this will
# list all columns in the Customer Behaviour Data Product
expected_query = '''
SELECT
    DATE_FORMAT(capacity_changes_slot_level.scheduling_slot_started_local_at ,'%Y-%m-%d') AS "date_data",
    DATE_FORMAT(capacity_changes_slot_level.scheduling_slot_started_local_at, '%a') AS weekday,
    DATE_FORMAT(capacity_changes_slot_level.scheduling_slot_started_local_at, '%H:%i') AS "hour_data",
    cities_v2.city_code AS "city_code",
    SUM(capacity_changes_slot_level.couriers_expected) AS "expected_couriers"
FROM delta.courier_forecasting_odp.capacity_changes_slot_level  AS capacity_changes_slot_level
LEFT JOIN delta.central_geography_odp.cities_v2  AS cities_v2 ON capacity_changes_slot_level.city_code = cities_v2.city_code
WHERE
 DATE(capacity_changes_slot_level.scheduling_slot_started_local_at) >= DATE('2022-11-01')
AND DATE(capacity_changes_slot_level.scheduling_slot_started_local_at) < DATE(DATE_ADD('day',2,CURRENT_DATE))
AND cities_v2.country_code = 'TN'
AND DATE_FORMAT(capacity_changes_slot_level.scheduling_slot_started_local_at, '%H:%i') NOT IN ('03:00','04:00','05:00','06:00','07:00','08:00')
GROUP BY 1,2,3,4
ORDER BY 1,2,3 DESC,4
'''
active_query = '''
SELECT
    DATE(ss.scheduling_slot_started_local_at) AS date_data,
    DATE_FORMAT(ss.scheduling_slot_started_local_at, '%a') AS weekday,
    DATE_FORMAT(ss.scheduling_slot_started_local_at, '%H:%i') AS hour_data,
    kpi_orders.order_city_code AS city_code,
    -- active couriers
    COUNT(DISTINCT CASE WHEN kpi_orders.order_final_status='DeliveredStatus' THEN kpi_orders.courier_id ELSE NULL END) AS active_couriers

FROM delta.central_order_descriptors_odp.order_descriptors_v2 kpi_orders
    LEFT JOIN delta.courier_dispatching_engine_odp.order_slot_zone_master slot_zone ON slot_zone.order_id = kpi_orders.order_id
    LEFT JOIN delta.courier_logistics_scheduling_odp.scheduling_slots ss ON ss.scheduling_slot_id = slot_zone.scheduling_slot_id
    LEFT JOIN delta.courier_order_flow_odp.delivery_times_logistics_order_level_attributes dt_info ON dt_info.order_id = kpi_orders.order_id
    LEFT JOIN delta.courier_core_cpo_odp.order_level_v2 cpo ON cpo.order_id=kpi_orders.order_id
WHERE slot_zone.order_city_code IN ('TIS','SFX','SOU')
    AND DATE(ss.scheduling_slot_started_local_at) >= DATE('2022-11-01')
    AND DATE(ss.scheduling_slot_started_local_at) < CURRENT_DATE
    AND kpi_orders.order_handling_strategy='GEN2'
    AND DATE_FORMAT(ss.scheduling_slot_started_local_at, '%H:%i') NOT IN ('03:00','04:00','05:00','06:00','07:00','08:00')
GROUP BY 1,2,3,4
ORDER BY 1,2,3 DESC,4
'''

conn_details = {
    'host': HOST,
    'port': PORT,
    'http_scheme': 'https',
    'auth': trino.auth.OAuth2Authentication()
}


# To export result to pandas
with trino.dbapi.connect(**conn_details) as conn:

    expected_couriers = pd.read_sql_query(expected_query, conn)
    active_couriers = pd.read_sql_query(active_query, conn)

########################### Process data to get training data and prediction data ###########################
expected_couriers["date_data"] = pd.to_datetime(expected_couriers["date_data"])
active_couriers["date_data"] = pd.to_datetime(active_couriers["date_data"])
data = pd.merge(expected_couriers,active_couriers,on=["date_data",'hour_data',"weekday",'city_code'],how="outer")
display(data)
data_train = data[data["active_couriers"].isna()==False].copy()
data_predict = data[(data["active_couriers"].isna()) & (pd.to_datetime(data["date_data"]).dt.date>=today)].copy()

C:\Users\Glovo\AppData\Local\Temp\ipykernel_16028\2617929161.py:61: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  expected_couriers = pd.read_sql_query(expected_query, conn)
C:\Users\Glovo\AppData\Local\Temp\ipykernel_16028\2617929161.py:62: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  active_couriers = pd.read_sql_query(active_query, conn)

,date_data,weekday,hour_data,city_code,expected_couriers,active_couriers
0,2022-11-01,Tue,23:00,SFX,0.0,NaN
1,2022-11-01,Tue,23:00,SOU,0.0,NaN
2,2022-11-01,Tue,23:00,TIS,26.0,19.0
3,2022-11-01,Tue,22:00,SFX,2.0,3.0
4,2022-11-01,Tue,22:00,SOU,4.0,2.0
...,...,...,...,...,...,...
21919,2023-12-11,Mon,01:00,SOU,0.0,NaN
21920,2023-12-11,Mon,01:00,TIS,41.0,NaN
21921,2023-12-11,Mon,00:00,SFX,4.0,NaN
21922,2023-12-11,Mon,00:00,SOU,8.0,NaN
21923,2023-12-11,Mon,00:00,TIS,77.0,NaN

In [ ]:
# Encoding functions to ensure consistency across training data and prediction data

def encode_weekday(weekday):
    weekdays = ["Mon","Tue","Wed","Thu","Fri","Sat","Sun"]
    if weekday in weekdays:
        return weekdays.index(weekday)
    else:
        assert("Verify that weekday is in the correct format ['Mon','Tue','Wed','Thu','Fri','Sat','Sun']")

def encode_match_range(match_range):
    match_ranges = ["national","international"]
    if match_range in match_ranges:
        return match_ranges.index(match_range)+1
    else:
        assert('Verify that match_range is in the correct format ["national","international"]')

def encode_match_type(match_type):
    match_types = ["league","cup","final","friendly"]
    if match_type in match_types:
        return match_types.index(match_type)+1
    else:
        assert('Verify that match_type is in the correct format ["league","cup","final","friendly"]')

def encode_event_type(event_type):
    event_types = ["sudden_event","expected_event"]
    if event_type in event_types:
        return event_types.index(event_type)+1
    else:
        assert('Verify that event_type is in the correct format ["sudden_event","expected_event"]')


def encode_event_category(event_category):
    event_categorys = ["sports_event","political_event","holiday","social_event","festival"]
    if event_category in event_categorys:
        return event_categorys.index(event_category)+1
    else:
        assert('Verify that event_category is in the correct format ["sports_event","political_event","holiday","social_event","festival"]')

def encode_event_range(event_range):
    event_ranges = ["local","regional","national","international"]
    if event_range in event_ranges:
        return event_ranges.index(event_range)+1
    else:
        assert('Verify that event_range is in the correct format ["local","regional","national","international"]')

def encode_event_impact(event_impact):
    event_impacts = ["national","international"]
    if event_impact in event_impacts:
        return event_impacts.index(event_impact)+1
    else:
        assert('Verify that event_impact is in the correct format ["small","moderate","big"]')

def encode_hour_data(hour_data):
    hours = ["09:00","10:00","11:00","12:00","13:00","14:00","15:00","16:00","17:00","18:00","19:00","20:00","21:00","22:00","23:00","00:00","01:00"]
    if hour_data in hours:
        return hours.index(hour_data)+1
    else:
        assert('Verify that hour_data is in the correct format hh:mm ')

def get_special_events():
    special_events_rows = []
    football_matches_rows = []
    conti = "y"
    while conti=="y":
        event = input('Enter event, choose from ["f" for football match,"e" for other events]: ')
        if event == "f":
            match_range= input('Enter match type, choose from ["national","international"]: ')
            match_type = input('Enter match type, choose from ["league","cup","final","friendly"]: ')
            match_date = input('Enter match date, use this format "dd-mm-yyyy" : ')
            match_start_hour = input('Enter match start hour, use this format "hh:00" : ')
            match_city = input('Enter event city, choose from ["SOU","TIS","SFX","ALL"]: ')
            for i in range(-1,3,1):
                if match_city =="ALL":
                    for city in ["TIS","SFX","SOU"]:
                        football_matches_row = []
                        football_matches_row.append(match_date)
                        football_matches_row.append(str(int(match_start_hour.split(":")[0])+i)+":00")
                        football_matches_row.append(match_range)
                        football_matches_row.append(match_type)
                        football_matches_row.append(city)
                        football_matches_rows.append(football_matches_row)
                else:
                    city = match_city
                    football_matches_row = []
                    football_matches_row.append(match_date)
                    football_matches_row.append(str(int(match_start_hour.split(":")[0])+i)+":00")
                    football_matches_row.append(match_range)
                    football_matches_row.append(match_type)
                    football_matches_row.append(city)
                    football_matches_rows.append(football_matches_row)
        else:
            special_events_row = []
            event_type = input('Enter event type, choose from ["sudden_event","expected_event"]: ')
            event_category = input('Enter event category, choose from ["sports_event","political_event","holiday","social_event","festival"]: ')
            event_range = input('Enter event range, choose from ["local","regional","national","international"]: ')
            event_impact = input('Enter event impact, choose from ["small","moderate","big"]: ')
            event_date = input('Enter event date, use this format "dd-mm-yyyy" : ')
            event_start_hour = input('Enter event start hour, use this format "hh:00" : ')
            event_duration = input('Enter event duration, use this format "hh" : ')
            event_city_code = input('Enter event city, choose from ["SOU","TIS","SFX","ALL"]: ')
            special_events_row.append(event_type)
            special_events_row.append(event_category)
            special_events_row.append(event_range)
            special_events_row.append(event_impact)
            special_events_row.append(event_date)
            special_events_row.append(event_start_hour)
            special_events_row.append(event_duration)
            special_events_row.append(event_city_code)
            special_events_rows.append(special_events_row)
        conti = input('add another event ? y/n: ')

    special_events_final_rows = []
    for cells in special_events_rows:
        duration = int(cells[6].split(":")[0])
        for i in range(duration):
            if cells[7]=="ALL":
                for city in ["TIS","SFX","SOU"]:
                    ser= []
                    hour = str(int(cells[5].split(":")[0])+i)+":00"
                    ser.append(cells[4])
                    ser.append(hour)
                    ser.append(city)
                    ser.append(cells[0])
                    ser.append(cells[1])
                    ser.append(cells[2])
                    ser.append(cells[3])
                    special_events_final_rows.append(ser)
            else:
                ser= []
                city = cells[7]
                hour = str(int(cells[5].split(":")[0])+i)+":00"
                ser.append(cells[4])
                ser.append(hour)
                ser.append(city)
                ser.append(cells[0])
                ser.append(cells[1])
                ser.append(cells[2])
                ser.append(cells[3])
                special_events_final_rows.append(ser)

    special_events_df = pd.DataFrame(special_events_final_rows)
    special_events_df.rename(columns={0:"date_data",1:"hour_data",2:"city_code",3:"event_type",4:"event_category",5:"event_range",6:"event_impact"},inplace=True)
    football_matches_df = pd.DataFrame(football_matches_rows)
    football_matches_df["match_range"] = football_matches_df["match_range"].apply(lambda x: 0 if str(x) == "nan" else encode_match_range(x))
    football_matches_df["match_type"] = football_matches_df["match_type"].apply(lambda x: 0 if str(x) == "nan" else encode_match_type(x))
    football_matches_df.sort_values(["date_data","city_code","hour_data","match_range","match_type"], inplace=True, ascending=[True,True,True,False,False])
    football_matches_df.drop_duplicates(subset = ["date_data","hour_data","city_code"], keep = "first", inplace=True)
    football_matches_df.rename(columns={0:"date_data",1:"hour_data",3:"match_type",2:"match_range",4:"city_code"},inplace=True)
    final_df = pd.merge(football_matches_df,special_events_df,on=["date_data","hour_data","city_code"],how="outer")
    final_df["date_data"] = pd.to_datetime(final_df["date_data"])
    final_df["hour_data"] = final_df["hour_data"].apply(lambda x:encode_hour_data(x))
    return final_df

In [ ]:
######################################## Training Process ########################################

# Get the data train for the city
city_data_train = data_train[data_train["city_code"]==city].copy()

########################### Process the data to prepare it for modeling ###########################

#### Prepare Weather Data

# Load and process weather data for the city

historical_response = requests.get(url_historical)
data_historical = json.loads(historical_response.content)
weather_data = pd.DataFrame(data_historical["hourly"])
weather_data["date_data"] = weather_data["time"].apply(lambda x:x.split("T")[0])
weather_data["hour_data"] = weather_data["time"].apply(lambda x:x.split("T")[1])
weather_data["city_code"] = city
weather_data["hour_data"] = weather_data["hour_data"].apply(lambda x: x if x not in ["02:00","03:00","04:00","05:00","06:00","07:00","08:00"] else None)
weather_data["date_data"] = pd.to_datetime(weather_data["date_data"])
weather_data = weather_data.dropna()
# Drop rows from weather_data with dates higher than those in data_train
weather_data = weather_data[(pd.to_datetime(weather_data["date_data"])<=pd.to_datetime(data_train["date_data"].max()))].reset_index(drop=True)
weather_data = weather_data.sort_values(['date_data', 'hour_data','city_code'],ascending = [True, False, True]).reset_index(drop=True)
# Merge the dfs and keep processing
city_data_train = pd.merge(weather_data,data_train,on=['date_data', 'hour_data','city_code'])
city_data_train["month"] = city_data_train["date_data"].apply(lambda x:int(str(x).split("-")[1]))
city_data_train["hour_data"] = city_data_train["hour_data"].astype("category").cat.codes
city_data_train["weekday"] = city_data_train["weekday"].apply(encode_weekday)
# drop unnacessary rows and columns
city_data_train.rename(columns={"winddirection_100m":"wind_direction","windspeed_100m":"wind_speed"},inplace=True)
city_data_train.dropna()
city_data_train = city_data_train[city_data_train["active_couriers"] >1]

#### Prepare special events data

final_df = pd.read_csv("special_events_historical.csv")
final_df = final_df.iloc[: , 1:]
city_data_train.merge(final_df,on=["date_data","hour_data","city_code"],how="left")
city_data_train["match_range"] = city_data_train["match_range"].apply(lambda x: 0 if str(x) == "nan" else encode_match_range(x))
city_data_train["match_type"] = city_data_train["match_type"].apply(lambda x: 0 if str(x) == "nan" else encode_match_type(x))
city_data_train["event_type"] = city_data_train["event_type"].apply(lambda x: 0 if str(x) == "nan" else encode_event_type(x))
city_data_train["event_category"] = city_data_train["event_category"].apply(lambda x: 0 if str(x) == "nan" else encode_event_category(x))
city_data_train["event_range"] = city_data_train["event_range"].apply(lambda x: 0 if str(x) == "nan" else encode_event_range(x))
city_data_train["event_impact"] = city_data_train["event_impact"].apply(lambda x: 0 if str(x) == "nan" else encode_event_impact(x))

########################### Train Model ###########################

y = city_data_train["active_couriers"]
X = city_data_train.drop(["temperature_2m","active_couriers","precipitation","time","date_data","is_day","city_code","wind_direction"],axis=1)
X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.20)
display(X)
regressor = DecisionTreeRegressor(criterion="poisson",splitter = "best",max_depth = 10).fit(X_train, np.log(y_train))
regressor_pred = np.round(np.exp(regressor.predict(X_test)),0)

########################### Print results ###########################

print('tree R-squared score (test): {:.3f}'.format(regressor.score(X_test, np.log(y_test))))
print('tree Mean squared error: {:.3f}'.format(mean_squared_error(y_test, regressor_pred)))
print('tree Mean absolute error: {:.3f}'.format(mean_absolute_error(y_test, regressor_pred)))

########################### Save the model ###########################

with open(model_pkl_file, 'wb') as file:
    pickle.dump(regressor, file)

,relativehumidity_2m,apparent_temperature,rain,cloudcover,wind_speed,hour_data,weekday,expected_couriers,month
0,69.0,16.5,0.0,1.0,18.8,16,1,26.0,11
1,79.0,17.8,0.0,0.0,18.0,15,1,46.0,11
2,77.0,21.2,0.0,0.0,20.4,14,1,58.0,11
3,76.0,21.4,0.0,0.0,23.2,13,1,59.0,11
4,71.0,21.4,0.0,0.0,25.2,12,1,57.0,11
...,...,...,...,...,...,...,...,...,...
6751,55.0,15.5,0.0,45.0,13.4,4,4,161.0,12
6752,60.0,14.6,0.0,55.0,15.6,3,4,33.0,12
6753,67.0,13.4,0.0,33.0,14.4,2,4,18.0,12
6754,88.0,7.6,0.0,20.0,15.5,1,4,51.0,12
6755,84.0,7.9,0.0,1.0,21.9,0,4,87.0,12

tree R-squared score (test): 0.873
tree Mean squared error: 1570.381
tree Mean absolute error: 24.378

In [ ]:
######################################## Prediction Process ########################################

# Get the data pedict for the city
city_data_predict = city_data_predict[city_data_predict["city_code"]==city].copy()

########################### Process the data to prepare it for modeling ###########################

#### Prepare Weather Data

# Load weather data for the city
pred_response = requests.get(url_pred)
data_pred = json.loads(pred_response.content)
weather_data = pd.DataFrame(data_pred["hourly"])
weather_data["date_data"] = weather_data["time"].apply(lambda x:x.split("T")[0])
weather_data["hour_data"] = weather_data["time"].apply(lambda x:x.split("T")[1])
weather_data["city_code"] = city
weather_data["hour_data"] = weather_data["hour_data"].apply(lambda x: x if x not in ["02:00","03:00","04:00","05:00","06:00","07:00","08:00"] else None)
weather_data["date_data"] = pd.to_datetime(weather_data["date_data"])
weather_data = weather_data.dropna()
# Drop rows from weather_data with dates lower than those in city_data_predict
weather_data = weather_data[(pd.to_datetime(weather_data["date_data"])<=pd.to_datetime(city_data_predict["date_data"].max()))].reset_index(drop=True)
weather_data = weather_data.sort_values(['date_data', 'hour_data','city_code'],ascending = [True, False, True]).reset_index(drop=True)
# Merge the dfs and keep processing
city_data_predict = pd.merge(weather_data,city_data_predict,on=['date_data', 'hour_data','city_code'])
city_data_predict["month"] = city_data_predict["date_data"].apply(lambda x:int(str(x).split("-")[1]))
city_data_predict["hour_data"] = city_data_predict["hour_data"].astype("category").cat.codes
city_data_predict["weekday"] = city_data_predict["weekday"].apply(encode_weekday)
# drop unnacessary rows and columns
city_data_predict.rename(columns={"winddirection_80m":"wind direction","windspeed_80m":"wind speed"},inplace=True)
city_data_predict.drop(["precipitation","time","date_data"],inplace=True,axis=1)

#### Prepare special events data

final_df = get_special_events()
city_data_predict.merge(final_df,on=["date_data","hour_data","city_code"],how="left")
city_data_predict["match_range"] = city_data_predict["match_range"].apply(lambda x: 0 if str(x) == "nan" else encode_match_range(x))
city_data_predict["match_type"] = city_data_predict["match_type"].apply(lambda x: 0 if str(x) == "nan" else encode_match_type(x))
city_data_predict["event_type"] = city_data_predict["event_type"].apply(lambda x: 0 if str(x) == "nan" else encode_event_type(x))
city_data_predict["event_category"] = city_data_predict["event_category"].apply(lambda x: 0 if str(x) == "nan" else encode_event_category(x))
city_data_predict["event_range"] = city_data_predict["event_range"].apply(lambda x: 0 if str(x) == "nan" else encode_event_range(x))
city_data_predict["event_impact"] = city_data_predict["event_impact"].apply(lambda x: 0 if str(x) == "nan" else encode_event_impact(x))

################## make predictions and display results ####################

# Load Model
with open(model_pkl_file, 'rb') as file:
    model = pickle.load(file)

# Make predictions
preds = np.exp(model.predict(city_data_predict.drop(["precipitation_probability","temperature_2m","active_couriers","precipitation","time","date_data","is_day","city_code","wind_direction"],axis=1)))
data_test["active_couriers"] = np.round(preds,0)
display(data_test[["date_data","hour_data","weekday","expected_couriers","active_couriers"]])

,precipitation_probability,temperature_2m,relativehumidity_2m,apparent_temperature,rain,cloudcover,wind speed,wind direction,is_day,hour_data,city_code,weekday,expected_couriers,active_couriers,month,year
0,0,14.8,0.91,14.9,0.0,0.56,16.3,264,0,16,0,1,103.0,NaN,12,1
1,0,15.3,0.87,15.0,0.0,0.37,23.2,282,0,15,0,1,189.0,NaN,12,1
2,0,15.8,0.83,14.8,0.0,0.02,30.2,287,0,14,0,1,275.0,NaN,12,1
3,0,16.0,0.82,14.9,0.0,0.04,32.4,293,0,13,0,1,372.0,NaN,12,1
4,0,16.2,0.83,15.2,0.0,0.83,33.2,300,0,12,0,1,367.0,NaN,12,1
5,0,16.4,0.82,15.3,0.0,1.00,33.7,299,0,11,0,1,300.0,NaN,12,1
6,0,16.9,0.80,15.6,0.0,1.00,35.9,297,0,10,0,1,185.0,NaN,12,1
7,0,17.7,0.75,16.1,0.0,0.39,37.2,298,1,9,0,1,177.0,NaN,12,1
8,0,18.8,0.69,17.0,0.0,0.43,39.7,301,1,8,0,1,171.0,NaN,12,1
9,0,19.6,0.65,17.5,0.0,0.37,41.3,302,1,7,0,1,223.0,NaN,12,1
10,0,19.4,0.64,17.2,0.0,0.36,40.8,289,1,6,0,1,224.0,NaN,12,1
11,0,19.6,0.61,17.0,0.0,0.30,44.1,290,1,5,0,1,151.0,NaN,12,1
12,0,18.5,0.65,16.0,0.0,0.36,41.8,287,1,4,0,1,72.0,NaN,12,1
13,0,17.1,0.70,15.4,0.0,0.57,28.4,270,1,3,0,1,40.0,NaN,12,1
14,0,15.1,0.76,13.4,0.0,0.56,26.1,252,1,2,0,1,23.0,NaN,12,1
15,37,13.4,0.83,12.3,0.0,0.18,20.6,275,0,1,0,1,70.0,NaN,12,1
16,55,13.9,0.86,13.0,0.0,0.78,22.2,278,0,0,0,1,107.0,NaN,12,1
17,0,13.5,0.89,13.3,0.0,0.00,16.6,231,0,16,0,0,105.0,NaN,12,1
18,0,13.8,0.90,13.8,0.0,0.00,15.5,226,0,15,0,0,170.0,NaN,12,1
19,0,14.1,0.89,14.2,0.0,0.22,15.1,218,0,14,0,0,207.0,NaN,12,1
20,0,14.7,0.86,14.8,0.0,0.24,15.1,230,0,13,0,0,262.0,NaN,12,1
21,0,15.3,0.84,15.4,0.0,1.00,14.2,234,0,12,0,0,272.0,NaN,12,1
22,0,16.1,0.81,16.3,0.0,1.00,12.9,234,0,11,0,0,247.0,NaN,12,1
23,0,17.2,0.76,17.6,0.0,1.00,12.2,236,0,10,0,0,163.0,NaN,12,1
24,0,18.6,0.69,18.7,0.0,0.90,13.5,241,1,9,0,0,121.0,NaN,12,1
25,0,19.9,0.62,19.5,0.0,0.52,15.4,254,1,8,0,0,123.0,NaN,12,1
26,0,20.3,0.57,19.3,0.0,0.00,17.4,257,1,7,0,0,177.0,NaN,12,1
27,0,20.4,0.54,19.1,0.0,0.10,17.7,258,1,6,0,0,254.0,NaN,12,1
28,0,20.2,0.55,19.0,0.0,0.10,15.6,251,1,5,0,0,290.0,NaN,12,1
29,0,19.3,0.59,18.3,0.0,0.00,14.2,240,1,4,0,0,112.0,NaN,12,1
30,0,17.9,0.63,17.0,0.0,0.00,12.9,234,1,3,0,0,28.0,NaN,12,1
31,0,16.2,0.69,15.4,0.0,0.00,13.5,236,1,2,0,0,21.0,NaN,12,1
32,0,14.2,0.92,14.2,0.0,0.52,17.2,244,0,1,0,0,41.0,NaN,12,1
33,0,14.4,0.93,14.5,0.0,0.55,18.0,254,0,0,0,0,77.0,NaN,12,1

KeyError: "['precipitation', 'time', 'date_data'] not found in axis"

In [5]:
competetions_ids = ["362","387","227","244","223","224","427","42"]
football_matches_rows = []
teams = []
for competetion_id in competetions_ids:
    lll=requests.get("http://livescore-api.com/api-client/scores/history.json?from=2022-11-01&competition_id="+competetion_id+"&key=ilfcBNNH7eyenwHH&secret=hfrVN6M8GP2S6sgpOwCpjp6rEFF2bnJt")
    ss = json.loads(lll.content)
    for match in ss["data"]["match"]:
        city = 'TIS'
        mdate = match["date"]
        mhour = match["scheduled"]
        mteamh = match["home_name"]
        mteama = match["away_name"]
        teams.append(mteama)
        teams.append(mteamh)
        if (mteamh in ["Tunisia","Brazil",'Club Africain', 'CS Sfaxien', 'Manchester City','Real Madrid', 'Etoile du Sahel', 'Esperance']) or (mteama in ["Tunisia","Brazil",'Club Africain', 'CS Sfaxien', 'Manchester City','Real Madrid', 'Etoile du Sahel', 'Esperance']):
            if competetion_id in ["223","224","427","42"]:
                match_range = "national"
            else:
                match_range = "international"
            if competetion_id in ["42"]:
                match_type = "league"
            elif competetion_id in ["244","223","224","427"]:
                match_type = "cup"
            else:
                match_type = "eliminations"
        else:
            continue
        for i in range(-1,3,1):
            if match_city =="ALL":
                for city in ["TIS","SFX","SOU"]:
                    football_matches_row = []
                    football_matches_row.append(match_date)
                    football_matches_row.append(str(int(mhour.split(":")[0])+i)+":00")
                    football_matches_row.append(match_range)
                    football_matches_row.append(match_type)
                    football_matches_row.append(city)
                    football_matches_rows.append(football_matches_row)
            else:
                city = match_city
                football_matches_row = []
                football_matches_row.append(match_date)
                football_matches_row.append(str(int(match_start_hour.split(":")[0])+i)+":00")
                football_matches_row.append(match_range)
                football_matches_row.append(match_type)
                football_matches_row.append(city)
                football_matches_rows.append(football_matches_row)
football_histoical_data = pd.DataFrame(football_matches_rows)
print(list(set(teams)))
football_histoical_data

['Guinea-Bissau', 'Central African Republic', 'Liberia', 'Borussia Dortmund', 'Ecuador', 'Equatorial Guinea', 'Cape Town City FC', 'RSB Berkane', 'Simba SC', 'Qatar', 'Germany', 'Libya', 'Bayern Munich', 'Jendouba Sport', 'Poland', 'Rejiche', 'South Korea', 'Club S Hammam-Lif', 'Ivory Coast', 'Rangers', 'Rivers United FC', 'Cape Verde', 'Future FC', 'Congo', 'Sudan', 'Ajax', 'Pyramids FC', 'Switzerland', 'FC Porto', 'Burkina Faso', 'Sevilla', 'Uganda', 'Bloemfontein Celtic', 'FC Koebenhavn', 'Niger', 'Jerba', 'Ben Arous', 'Maccabi Haifa', 'Comoros', 'Finland', 'Mauritania', 'Ethiopia', 'Celtic', 'Benfica', 'Kazakhstan', 'Netherlands', 'South Sudan', 'Burundi', 'Al Hilal Omdurman', 'Malawi', 'Tunisia', 'TP Mazembe', 'Gambia', 'Egypt', 'Canada', 'Shakhtar Donetsk', 'El Zamalek', 'Club Brugge', 'England', 'Stade Tunisien', 'South Africa', 'Guinea', 'RasenBallsport Leipzig', 'France', 'Raja Casablanca', 'Club Olympique de Medenine', 'Hammam-Sousse', 'KalaÃ¢ Sport', 'Japan', 'Al-Akhdar', 'Wales', 'FAR Rabat', 'Marumo Gallants', 'ASC Kara', 'Us Tataouine', 'Mamelodi Sundowns FC', 'Dinamo Zagreb', 'Brazil', 'USA', 'Australia', 'Esperance', 'Al Ahly', 'Algeria', 'Sao Tome And Principe', 'EO Sidi Bouzid', 'Costa Rica', 'Barcelona', 'RadÃ¨s', 'Ghana', 'Juventus', 'USM Alger', 'AS Vita Club', 'Club Africain', 'Spain', 'CA Bizertin', 'Eintracht Frankfurt', 'JS Kabylie', 'Coton Sport', 'Al-Merreikh', 'Slimane', 'JS Kairouanaise', 'Cameroon', 'ASEC Mimosas', 'Serbia', 'Madagascar', 'Saint-Eloi Lupopo', 'Nigeria', 'Djoliba AC', 'Ben Guerdane', 'Etoile Metlaoui', 'Viktoria Plzen', 'Sporting CP', 'CS Sfaxien', 'Cs Msaken', 'SS Sfaxien', 'Horoya AC', 'DR Congo', 'Senegal', 'Mali', 'Olympique de Beja', 'Morocco', 'SSC Napoli', 'Manchester City', 'Benin', 'Croatia', 'Botswana', 'Chelsea', 'Liverpool', 'Motema Pembe', 'Mozambique', 'Argentina', 'CR Belouizdad', 'Chebba', 'Petro Atletico', 'Rail Club De Kadiogo', 'Zarzis', 'Al-Nasr Club of Benghazi', 'Wydad Casablanca', 'AC Milan', 'Paris Saint Germain', 'Djelma', 'AS Bamako', 'Tottenham Hotspur', 'Mexico', 'Salzburg', 'Atletico Madrid', 'Saudi Arabia', 'El Makarem De Mahdia', 'Egs Gafsa', 'Real Madrid', 'Diables Noirs', 'AS Gabes', 'Al Ahli Tripoli', 'Tanzania', 'Kasserine', 'Bayer Leverkusen', 'Portugal', 'Belgium', 'Korba', 'Young Africans', 'Iran', 'Rwanda', 'Denmark', 'Gabon', 'Tshakhuma Madzivhadila FC', 'Sporting Gagnoa', 'Etoile du Sahel', 'Inter', 'ASKO de Kara', 'Namibia', 'Uruguay', 'Marseille', 'US Monastir', 'Vipers SC', 'Sierra Leone', 'Primeiro de Agosto']

Empty DataFrame
Columns: []
Index: []

In [ ]:
# special_events_rows = []
# football_matches_rows = []
# conti = "y"
# while conti=="y":
#     event = input('Enter event, choose from ["f" for football match,"e" for other events]: ')
#     if event == "f":
#         match_range= input('Enter match type, choose from ["national","international"]: ')
#         match_type = input('Enter match type, choose from ["friendly","league","cup","eliminations"]: ')
#         match_date = input('Enter match date, use this format "dd-mm-yyyy" : ')
#         match_start_hour = input('Enter match start hour, use this format "hh:00" : ')
#         match_city = input('Enter event city, choose from ["SOU","TIS","SFX","ALL"]: ')
#         for i in range(-1,3,1):
#             if match_city =="ALL":
#                 for city in ["TIS","SFX","SOU"]:
#                     football_matches_row = []
#                     football_matches_row.append(match_date)
#                     football_matches_row.append(str(int(match_start_hour.split(":")[0])+i)+":00")
#                     football_matches_row.append(match_range)
#                     football_matches_row.append(match_type)
#                     football_matches_row.append(city)
#                     football_matches_rows.append(football_matches_row)
#             else:
#                 city = match_city
#                 football_matches_row = []
#                 football_matches_row.append(match_date)
#                 football_matches_row.append(str(int(match_start_hour.split(":")[0])+i)+":00")
#                 football_matches_row.append(match_range)
#                 football_matches_row.append(match_type)
#                 football_matches_row.append(city)
#                 football_matches_rows.append(football_matches_row)
#     else:
#         special_events_row = []
#         event_type = input('Enter event type, choose from ["sudden_event","expected_event"]: ')
#         event_category = input('Enter event category, choose from ["sports_event","political_event","holiday","social_event","festival"]: ')
#         event_range = input('Enter event range, choose from ["local","regional","national","international"]: ')
#         event_impact = input('Enter event impact, choose from ["small","moderate","big"]: ')
#         event_date = input('Enter event date, use this format "dd-mm-yyyy" : ')
#         event_start_hour = input('Enter event start hour, use this format "hh:00" : ')
#         event_duration = input('Enter event duration, use this format "hh" : ')
#         event_city_code = input('Enter event city, choose from ["SOU","TIS","SFX","ALL"]: ')
#         special_events_row.append(event_type)
#         special_events_row.append(event_category)
#         special_events_row.append(event_range)
#         special_events_row.append(event_impact)
#         special_events_row.append(event_date)
#         special_events_row.append(event_start_hour)
#         special_events_row.append(event_duration)
#         special_events_row.append(event_city_code)
#         special_events_rows.append(special_events_row)
#     conti = input('add another event ? y/n: ')

# special_events_final_rows = []
# for cells in special_events_rows:
#     duration = int(cells[6].split(":")[0])
#     for i in range(duration):
#         if cells[7]=="ALL":
#             for city in ["TIS","SFX","SOU"]:
#                 ser= []
#                 hour = str(int(cells[5].split(":")[0])+i)+":00"
#                 ser.append(cells[4])
#                 ser.append(hour)
#                 ser.append(city)
#                 ser.append(cells[0])
#                 ser.append(cells[1])
#                 ser.append(cells[2])
#                 ser.append(cells[3])
#                 special_events_final_rows.append(ser)
#         else:
#             ser= []
#             city = cells[7]
#             hour = str(int(cells[5].split(":")[0])+i)+":00"
#             ser.append(cells[4])
#             ser.append(hour)
#             ser.append(city)
#             ser.append(cells[0])
#             ser.append(cells[1])
#             ser.append(cells[2])
#             ser.append(cells[3])
#             special_events_final_rows.append(ser)

# special_events_df = pd.DataFrame(special_events_final_rows)
# special_events_df.rename(columns={0:"date_data",1:"hour_data",2:"city_code",3:"event_type",4:"event_category",5:"event_range",6:"event_impact"},inplace=True)
# football_matches_df = pd.DataFrame(football_matches_rows)
# football_matches_df["match_range"] = football_matches_df["match_range"].apply(lambda x: 0 if str(x) == "nan" else encode_match_range(x))
# football_matches_df["match_type"] = football_matches_df["match_type"].apply(lambda x: 0 if str(x) == "nan" else encode_match_type(x))
# football_matches_df.sort_values(["date_data","city_code","hour_data","match_range","match_type"], inplace=True, ascending=[True,True,True,False,False])
# football_matches_df.drop_duplicates(subset = ["date_data","hour_data","city_code"], keep = "first", inplace=True)
# football_matches_df.rename(columns={0:"date_data",1:"hour_data",3:"match_type",2:"match_range",4:"city_code"},inplace=True)
# final_df = pd.merge(football_matches_df,special_events_df,on=["date_data","hour_data","city_code"],how="outer")
# final_df["date_data"] = pd.to_datetime(final_df["date_data"])
# final_df["hour_data"] = final_df["hour_data"].apply(lambda x:encode_hour_data(x))
# display(final_df)
# final_df.to_csv("special_events_historical.csv")

KeyboardInterrupt: Interrupted by user